nav {
    width: 76%;
    top: 8px;
    left: 12%;
    right: 12%;
    padding: 0px !important;
    box-shadow: 1px 2px #888888;
    border-radius: 5px;
}

body {
    font-family: sans-serif;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#company-img {
    height:50px;
    margin-left:20px;
}

#cart {
    height: 15px;
    padding-right: 5px;
    padding-bottom: 2px;
}

#search-button {
    color:white;
    background-color:#418ef6;
    border-color:#418ef6;
}

#search_input {
    margin-right: 0px !important;
}

#checkout-button {
    width: 80%;
    background-color: #418ef6;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-left: 10%;
}

.cart-mycontainer {
    width: 100%;
    height: auto;
}

.upper-cart-detail {
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
    height: auto;
}

#summary {
    font-size: 1.5vw;
    font-weight: bold;
    margin-left: 25px;
    padding-top: 15px;
    color: black;
    display: block;
}

.table th, .table td {
    vertical-align: middle !important;
}

.upper-cart-detail th {
    text-align: center;
    color: black;
    font-size: 1vw;
    background-color: grey;
}

.upper-cart-detail td {
    text-align: center;
    color: black;
    padding-bottom: 5px;
    padding-top: 5px;
}

.img-tire {
    height: auto;
    width: 11%;
    position: static;
    float: right;
}

.left-block {
    width: 30%;
    float: left;
    height: auto;
    text-align: left;
}

.p-category {
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 0px;
    float: left;
    width: 100%;
}

.p-brand {
    font-size: 1vw;
    margin-bottom: 0px;
    float: left;
    width: 100%;
    margin-top: -8px;
}

.middle-block {
    width: auto;
    height: auto;
    float: left;
    text-align: left;
}

.middle-block img {
    float: left;
    width: 20%;
}

.p-tire {
    width: 100%;
    margin: 0px;
}

.button-delete {
    background-color: red;
    color: white;
    padding: 0px 4px;
    border: 1px solid red;
}

#bordered-row {
    border-top: 3px solid #418ef6;
}

#total-products {
    float: left;
    border: 0px;
    color: darkblue;
    font-weight: bold;
}

.lower-cart-detail {
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
}

.upper-process {
    width: 100%;
    height: auto;
}

.upper-process p {
    font-size: 2vw;
    font-weight: bold;
    margin-left: 3%;
    width: 100%;
}

.upper-process svg {
    height: 60px;
    width: 100%;
}

.upper-process line {
    stroke: #418ef6;
    stroke-width:2;
}

.lower-process {
    width: 75%;
    margin: auto;
}

.left-side {
    width: 33%;
    height: auto;
    background-color: lightgrey;
    float: left;
}

.left-side-align {
    margin: 20px;
}

.left-side label {
    width: 100%;
}

.left-side-align input {
    margin-bottom: 5px;
}

.my-button-design {
    background-color: #418ef6;
    color: white;
}

.middle-side {
    width: 34%;
    height: auto;
    float: left;
}

.middle-side-align {
    margin: 20px;
}

.right-side {
    width: 33%;
    height: auto;
    float: right;
}

.right-side-align {
    margin: 20px;
}

.right-side-align input {
    margin-bottom: 5px;
}

#footer-company {
    width: 100%;
    background-color: black;
    bottom: 0px;
    position: static;
    height: 2.5rem;
    display: flex;
}

#footer-company p {
    margin-left: 12%;
    color: white;
    font-weight: bold;
    font-size: 10px;
    padding-top: 8px;
}
